<mat-toolbar color="primary">
  <span>Trabalho Desenvolvimento Web</span>
  <span class="example-spacer"></span>
  <div class="right-links">
    <button
      mat-flat-button
      routerLink="/clients"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
      color="primary"
      (click)="goTo('clients')"
    >
      Clientes
    </button>
    <button
      mat-flat-button
      routerLink="/products"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
      color="primary"
      (click)="goTo('products')"
    >
      Produtos
    </button>
    <button
      mat-flat-button
      routerLink="/orders/new"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
      color="primary"
      (click)="goTo('orders/new')"
    >
      Novo Pedido
    </button>
    <button
      mat-flat-button
      routerLink="/orders"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
      color="primary"
      (click)="goTo('orders')"
    >
      Ver Pedidos
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
